/* Archive-tags */
.modules {
  border-top: solid 1px #d9d9d9;
  padding-bottom: 20px;
}
.modules a {
  border-bottom: 1;
}
.modules h4 {
  padding: 10px 0;
  font-weight: 600;
}
.modules h4 a {
  color: #b3b3b3;
}
.modules h4 a:hover {
  color: #d5a52a;
  border-bottom: 0px;
}
.modules .Archive-tags-item p {
  display: inline-block;
  padding: 2px 5px;
}
.modules .Archive-tags-item p .tag {
  border: solid 1px #b3b3b3;
  color: #b3b3b3;
  padding: 5px 10px;
  border-radius: 15px;
}
.modules .Archive-tags-item p .tag:hover {
  border: solid 1px #d5a52a;
  color: #d5a52a;
}
.modules .about-me .avatar {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  background-image: url(http://wx3.sinaimg.cn/mw690/6d659ba0ly8fdqq6w68v9j20ro0ro778.jpg);
  background-size: 100%;
}
.modules .about-me .self-intor {
  color: #b3b3b3;
  padding: 10px 0;
}
